.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 0;
  background: transparent;
}

.paper {
  width: 100%;
  max-width: 350px;
  text-align: center;
  background: transparent;
  font-family: 'DM Sans', sans-serif;
}

.date {
  margin-bottom: 0.2rem;
  font-size: 35px;
  color: #ffffff;
}

.bondType {
  color: #ffffff;
  font-size: 25px;
}

/* Add styles for input area and keyboard */
