.dayOfContainer {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #000;
}

.slideWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 46px; /* Height of the legend */
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.legend {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  height: 52px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.legendVisible {
  opacity: 1;
  visibility: visible;
  background-color: #000;
}

.legendContent {
  display: flex;
  width: 200%;
  height: 100%;
}

.legendContent span {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fffb00;
  font-family: tickerFont;
  white-space: nowrap;
  font-size: clamp(0.85rem, 3.2vw, 1.1rem);
}

.animate {
  animation: ticker 1s linear;
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
/* Media queries for responsive font sizing and layout */

@media (max-width: 500px) {
  .legend {
    height: 40px;
    font-size: 15px;
    padding: 3px 0;
  }
  .slideWrapper {
    bottom: 40px;
  }
}
@media (max-width: 450px) {
  .legend {
    height: 36px;
    font-size: 14px;
  }
  .slideWrapper {
    bottom: 36px;
  }
}

@media (max-width: 389px) {
  .legend {
    height: 34px;
    font-size: 13px;
  }
  .slideWrapper {
    bottom: 34px;
  }
}

@media (max-width: 375px) {
  .legend {
    height: 30px;
    font-size: 12px;
  }
  .slideWrapper {
    bottom: 30px;
  }
}
