.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;
}

.guessGroup,
.resultGroup {
  display: flex;
  align-items: center;
  gap: 0.1rem;
}

.decimal {
  font-size: 2rem;
  font-weight: bold;
  align-self: flex-end;
  margin: 0 1px;
}

.guessGroup {
  flex: 0 0 auto;
}

.resultGroup {
  flex: 0 0 auto;
  min-width: 8rem; /* Adjust this value as needed to ensure consistent spacing */
}
