/* ui/Layout.module.css */
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.header {
  height: 150px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.footer {
  height: 60px; /* Ensure this is a fixed height */
  background-color: #449ffa;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
