.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.header {
  height: 60px; /* Adjust height as needed */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1f2937; /* Set your desired background color */
  border-bottom: 2px solid #ccc; /* Bottom border */
  border-radius: 0 0 10px 10px; /* Rounded bottom corners */
  padding: 0 20px; /* Horizontal padding */
  margin: 0;
}

.mainContent {
  background-color: #f0f4f8;
  color: #333333;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.footer {
  height: 60px; /* Ensure this is a fixed height */
  background-color: #449ffa;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
}
