.container {
  display: flex;
  flex-direction: column;
  height: calc(100dvh - 120px);
  width: 100%;
  overflow: hidden;
  background-color: #000;
  color: #fff;
  box-sizing: border-box;
}

.scoreChartWrapper {
  flex: 0 0 auto; /* Don't grow or shrink, use auto height */
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
}

.leaderboardWrapper {
  width: 100%;
  flex: 1; /* Take remaining space */
  overflow-y: auto; /* Enable scrolling */
  padding: 0 1rem;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #000;
}
