.container {
  display: flex;
  flex-direction: column;
  height: calc(100dvh - 111px);
  width: 100%;
  overflow: hidden;
  background-color: #000;
  color: #fff;
  box-sizing: border-box;
}

.scoreChartWrapper {
  flex: 0 0 auto;
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
}

.leaderboardWrapper {
  width: 100%;
  flex: 1;
  overflow-y: auto;
  padding: 0 1rem;
  box-sizing: border-box;
  background-color: #1a1b1e;
  color: #c1c2c5;
}
