/* ui/InterestRateGuess.module.css */
.stack {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: bisque; /* For debugging */
}

.guessDisplayBox {
  flex: 1;
  overflow-y: auto; /* Allow scrolling if content overflows */
}

.guessDisplay {
  padding: 3px; /* Adjust as needed */
}

.guessBox {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc; /* Optional: visual separation */
}
