.key {
  margin: 3;
  padding: 1.5;
  font-size: 0.7rem;
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
  color: #000;
}

.key:active {
  background-color: #ccc;
}
