.key {
  margin: 4;
  font-size: 0.7rem;
  text-align: center;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #3b82f6;
  color: #ffff;
  cursor: pointer;
}

.key:active {
  background-color: #ccc;
}
