.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  background-color: #201d1dbf;
  padding: 0.8rem;
  gap: 0.5rem;
}

.row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
