.stack {
  width: 100%;
  flex: 1;
  display: flex; /* Behaves as a flex container */
  flex-direction: column;
  min-height: 0; /* Important for nested flex containers */
  overflow: hidden; /* Prevent overflow */
}

.tableWrapper {
  flex: 1;
  overflow-y: auto; /* Enable internal scrolling */
}

.table {
  width: 100%;
}
