/* Adjust the styles to fit the full viewport height */

.wrapper {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0px;
  height: 40dvh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #000000;
}
@media (max-width: 375px) {
  .wrapper {
    height: 30dvh;
  }
}

.imageContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
}

.inner {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  font-weight: 800;
  font-size: clamp(5rem, 12vw, 8rem);
  letter-spacing: rem(-1px);

  background: linear-gradient(90deg, #fff964 0%, #ffd700 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
}

.buttonContainer {
  margin-top: auto;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
}

@media (min-width: 767px) {
  .wrapper {
    min-width: 500px;
    max-width: 600px;
    height: auto;
    min-height: 350px;
    max-height: 600px;
    overflow: hidden;
    position: relative;
  }

  .inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
  }

  .buttonContainer {
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
  }

  .title {
    font-size: clamp(4rem, 8vw, 6rem);
  }
}
