/* Adjust the styles to fit the full viewport height */

.wrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
  height: 45vh;
  min-height: 200px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
}

.imageContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
@media (min-width: 768px) {
  .wrapper {
    max-width: 600px;
    height: 40vh;
    min-height: 250px;
    max-height: 300px;
    padding: 1.5rem;
    border-radius: 8px;
    overflow: hidden;
  }

  .imageContainer {
    border-radius: 8px;
  }
}
@media (max-width: 600px) {
  .wrapper {
    max-width: 90%;
    padding: 1rem;
  }
}

@media (max-height: 700px) {
  .wrapper {
    height: 40vh;
    min-height: 180px;
  }
}

.inner {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  padding-top: -1rem;
}

.title {
  font-weight: 800;
  font-size: clamp(3.5rem, 10vw, 7rem);
  letter-spacing: rem(-1px);
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  background: linear-gradient(90deg, #fff564 0%, #ffeb00 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  text-align: center;
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
}
@media screen and (max-width: 600px) {
  .title {
    font-size: clamp(3.5rem, 12vw, 6rem);
  }
}

.description {
  color: var(--mantine-color-gray-0);
  text-align: center;
  font-size: clamp(1rem, 7vw, 2.5rem);
  line-height: 1.3;
}
