.login {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 1;
  box-sizing: border-box;
  overflow-x: auto;
}

@media (max-width: 600px) {
  .login {
    padding: 1;
    max-width: 90%;
  }
}
