.login {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: #000000;

  border-radius: 0;
}

@media screen and (min-width: 767px) {
  .login {
    min-width: 500px;
    max-width: 600px;
    box-shadow: 0 0 15px rgba(255, 235, 0, 0.1);
    max-height: calc(100% - 200px);
  }
}
