.container {
  flex: 1;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure it takes up the full height of its parent */
  width: 100%;
  align-items: center;
  background-color: #000000;
}

.dayOf {
  width: 100%; /* Ensure it takes up the full width */
  flex: 1;
}

.guess {
  background-color: #000000;
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 100%;
  width: 100%; /* Ensure it takes up the full width */
  display: flex;
  flex-direction: column;
  padding: 10px;
}
