/* ui/Layout.module.css */

.html {
  width: 100%;
  height: 100%;
  padding: 0;
}

.body {
  background-color: #f0f4f8;
  color: #333333;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto; /* Prevent scrolling */
  max-width: 100vw;
}

.rootContainer {
  padding: 0;
  width: 100%;
  height: auto;
  min-height: 100dvh; /* Use the full viewport height */
  min-width: min(200px, 100%); /* Allows narrower screens */
  max-width: 800px; /* Maximum width for the content */
  margin: 0 auto; /* Centers the container */
}
