.main {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  height: 100dvh;
  width: 100%;
  box-sizing: border-box;
  padding: 0 0.25rem;
  overflow: hidden;

  /* Add padding to prevent content from touching edges */
}

@media only screen and (min-width: 768px) {
  .main {
    justify-content: start;
    min-height: 800px;
    padding: clamp(0.25rem, 2vw, 1.5rem); /* More responsive padding */
    gap: clamp(1rem, 3vh, 2rem); /* Add spacing between children */
  }
}
