.main {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  height: 100dvh;
  width: 100%;
  box-sizing: border-box;
  padding: 0 0.25rem;
  overflow: hidden;

  /* Add padding to prevent content from touching edges */
}
@media only screen and (min-width: 768px) {
  .main {
    justify-content: flex-start;
    padding: clamp(1rem, 2vw, 1.5rem);
    min-height: auto;
    max-height: none;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    gap: 1rem;
    height: 100%;
  }
}
