.main {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  height: 100vh;
  width: 100%;
  box-sizing: content-box;
  padding: 1rem;
  /* Add padding to prevent content from touching edges */
}
