.control {
  width: auto;
  min-width: 200px;
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  margin: 1rem auto;
  background: linear-gradient(90deg, #fff964 0%, #ffd700 100%);
  color: black;
  font-weight: 600;
}

.control:hover {
  background: linear-gradient(90deg, #ffd700 0%, #fff964 100%);
  transform: translateY(-1px);
}
