/* ui/Footer.module.css */
.footer {
  border-top: rem(0.2px) solid;
  background-color: black;
  color: #9ca3af;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--mantine-spacing-xs);
  padding-bottom: var(--mantine-spacing-xs);
}

.links {
  color: #9ca3af;
  margin: 0 10px;
  text-decoration: none;
  :hover {
    text-decoration: underline;
  }
}
