/* ui/Navbar.module.css */

.burger {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 2;
}

.menuHidden {
  display: none;
}

.menuVisible {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5); /* semi-opaque background */
  padding: 10px 0;
  position: absolute;
  top: 60px; /* adjust this value based on the actual height of the burger */
  width: 100%; /* ensure it spans the full width of the container */
  box-sizing: border-box; /* ensures padding does not affect width */
  z-index: 1000; /* ensure it appears on top but under burger when open */
}

.control {
  display: block;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  font-weight: 500;
  color: white; /* ensures visibility against the semi-opaque background */
  width: 100%; /* full width for better touch targets */
}

.control:hover {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
}
